.showcase-container {
    height: 100vh;
    width: 100%;
    background-image: url('../../../assets/bg.jpg');
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
}

.showcase-content {
    width: fit-content;
    z-index: 1;
}

.showcase-content h1,
.showcase-content p {
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
}

.showcase-content span {
    font-family: Chivo Mono;
}